[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
Django = "*"
dj-database-url = "*"
"psycopg2" = "*"
drf-yasg = "*"
Markdown = "*"
factory_boy = "*"
django-extensions = "*"
sqlparse = "*"
PTable = "*"
jsonschema = "*"
django-cors-headers = "*"

[dev-packages]
poirot = "*"
cookiecutter = "*"
pytest = "*"
pytest-django = "*"
isort = "*"
yapf = "*"
"flake8" = "*"
docker-compose = "*"
pytest-cov = "*"
codeclimate-test-reporter = "*"
coverage = "==4.3.4"
hypothesis = "*"
django-extensions = "*"
vulture = "*"
ipdb = "*"
ipython-sql = "*"
jupyterlab = "*"
