[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djangorestframework = "*"
django = "*"
dj-database-url = "*"
"psycopg2" = "*"
drf-yasg = "*"
markdown = "*"
factory-boy = "*"
django-extensions = "*"
sqlparse = "*"
ptable = "*"


[dev-packages]

poirot = "*"
cookiecutter = "*"
pytest = "*"
pytest-django = "*"
isort = "*"
yapf = "*"
"flake8" = "*"
docker-compose = "*"
pytest-cov = "*"
codeclimate-test-reporter = "*"
coverage = "==4.3.4"
hypothesis = "*"
django-extensions = "*"
vulture = "*"
ipdb = "*"
