[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djangorestframework = "*"
django = "*"
dj-database-url = "*"
"psycopg2" = "*"


[dev-packages]

poirot = "*"
cookiecutter = "*"
jupyter = "*"
pytest = "*"
pytest-django = "*"
isort = "*"
yapf = "*"
"flake8" = "*"